= "#{pluralize(@group.assigned_parts.length, 'part')} assigned."
%table
  %tr
    %th
      Index
    %th
      Name
    %th
      Status
    %th
  - @group.assigned_parts.order(:index).each do |part|
    %tr
      %td
        = part.index
      %td
        = CloverTask.part_name part.index
      %td
        OK
      %td
        = button_to 'Dismiss', dismiss_part_path, remote: true, params: {index: part.index}
