#student-login
  #join-prompt
    = 'Type your group name'
  = form_tag join_path, id: 'student-join', remote: true, 'data-type' => :json, autocomplete: false do
    = text_field_tag :groupname, '', autofocus: true, autocomplete: false, maxlength: 20, required: true, size: 20
    %br
    = submit_tag 'Enter', class: 'submit'
#page-instructions.teacher-page
  This application allows teachers and students in a classroom
  %br
  to work together as one big group, using multiple devices.
  %br
  It works by simply typing the group's name into each device.
  %br
  This way all your devices will know that they belong together.
  %h2 As a teacher
  %ol
    %li
      Create a new group
      %ul
        %li
          By selecting 'Lead a group' from the menu
        %li
          You will be asked to choose a name for your group
    %li
      Let your students know the group name
      %ul
        %li
          For instance, write it on the black board
    %li
      Ask them to go to this website
      %ul
        %li They need to type the group name and press Enter
  %h2 As a student
  All you need to do is follow your teacher's instructions.
#page-lead.teacher-page
  %h2 Create a new group
  %p
    Please choose a unique name and a password for your group.
  = form_tag do
    %table
      %tr
        %td
          = label_tag :groupname
        %td
          = text_field_tag :groupname, '', maxlength: 20, required: true, size: 20
      %tr
        %td
          = label_tag :password
        %td
          = password_field_tag :password, '', maxlength: 20, required: true, size: 20
      %tr
        %td(colspan=2)
          = submit_tag 'Create group', class: 'submit'
  %p
    Careful to keep your password secret from your students ;)
  %h2 Log back in to an existing group
  %p
    To return to your group after you logged out,
    %br
    please enter your group's name and password below.
  = form_tag do
    %table
      %tr
        %td
          = label_tag :groupname
        %td
          = text_field_tag :groupname, '', maxlength: 20, required: true, size: 20
      %tr
        %td
          = label_tag :password
        %td
          = password_field_tag :password, '', maxlength: 20, required: true, size: 20
      %tr
        %td(colspan=2)
          = submit_tag 'Log in', class: 'submit'
#page-about.teacher-page
  This website and all the associated group tasks are being developed
  %br
  by researchers at the
  %a(href='http://www.sussex.ac.uk/psychology/chatlab/' target='_blank')
    Children and Technology Lab (ChaTLab)
  at the
  %br
  University of Sussex, United Kingdom.
  %h2 Stay in touch
  Sign up for our
  %a(href="#" onClick="alert('Coming soon!')")
    newsletter.
  %h2 Get involved
  Feel free to share ideas and join the debate in our
  %a(href="#" onClick="alert('Coming soon!')")
    discussion forum.
#menutoggle.topright= 'Menu'
#menu.topright
  %ul
    %li#menuitem-instructions= 'Read the instructions'
    %li#menuitem-lead= 'Lead a group'
    %li#menuitem-about= 'Learn about the project'
%noscript
  %h2= 'JavaScript required'
  %p
    = 'This application requires JavaScript.'
  %p
    = 'Please enable JavaScript in your browser '
    %a{href: 'http://activatejavascript.org/', target: :blank}= '(Need instructions? Click here.)'
  %p
    = 'and then reload this page.'
